<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/basicstyles.css" type="text/css">
</head>
<body>
    <h1><%= header %></h1>
    <form action="<%= action %>" method="POST">
        <p>
            <label>BookID: <input type="text" name="bookID"></label>
        </p>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Menu</button></a>
</body>
</html>